<!doctype html>
<html>
    <head>
        <title>{{title}}</title>
        
        <link rel="stylesheet" type="text/css" href="/static/normalize.css">
        <link rel="stylesheet" type="text/css" href="/static/styles.css">
        <style>
            .error{
            color:red;
            }
        </style>
    </head>

<body>
  <nav>
    

    <ul>
      <li><a href="/">Main Blog</a></li>
      <li><a href="/blog">All Posts</a></li>
      <li><a href="/newpost">New Blog Post</a></li>
    </ul>

    <ul id = "user-account">
      <li><a href="/login">Login</a></li>
      <li><a href="/logout">Logout</a></li>

    </ul>

  </nav>

    {% block content %}
    {% endblock %}

</body>
</html>